{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header class="header">
        <div class="brand-logo"> SS CAFE!</div>
        <nav class="navbar">
            <a href="#">Home</a>
            <ul class="drowpdown-menu">
                <li><a href="#">Home Slider</a></li>
                <li><a href="#">Home images</a></li>
                <li><a href="#">Home Video</a></li>
            </ul>
            <a href="#">Pages</a>
            <ul class="drowpdown-menu">
                <li><a href="#">About us</a></li>
                <li><a href="#">About Owner</a></li>
                <li><a href="#">Gellery</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Featurs</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Our Terms</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">404 Pages</a></li>
            </ul>
            <a href="#">Menu</a>
            <ul class="drowpdown-menu">
                <li><a href="#">Menu Tabs (WOOCOMMERCE)</a></li>
                <li><a href="#">Menu List (WOOCOMMERCE)</a></li>
                <li><a href="#">Menu Tabs</a></li>
                <li><a href="#">Menu List</a></li>
            </ul>
            <a href="#">Reseervation</a>
            <ul class="drowpdown-menu">
                <li><a href="#">Reservation (Booking Calender)</a></li>
                <li><a href="#">Reservation (Contact)</a></li>
                <li><a href="#">Reservation (Open Table)</a></li>
                <li><a href="#">Reservation Popup</a></li>
            </ul>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <a href="#">Shop</a>

            <button class="nav-btn">RESERVATION</button>
        </nav>
    </header>
    <section class="homepage">
        <div class="homepage-div">
            <p>Welcome to SS CAFE!</p>
            <h1>VISIT OUR STORE</h1>
            <button class="home-btn">BOOK A TABLE</button>
            <button class="home-btn">OPEN MENU</button>
        </div>
    </section>

    <section class="deatails">
        <div class="about-divs">
            <div class="abooout">
                <div class="iamge-about"><img src="#" alt="About Us" /></div>
                <h4>About us</h4>
                <div class="about-text">
                    <h1>We Invite You to Visit Our Coffee House</h1>
                    <p>Repudiandae dignissimos fugiat sit nam. Tempore aspernatur quae repudiandae dolorem, beatae
                        dolorum, praesentium itaque et quam quaerat.</p>
                    <button class="btn">READ MORE</button>
                </div>
            </div>
        </div>

        <div class="cofee-menu">
            <div class="menu-cofee">
                <div class="image-cofee-menu"><img src="#" alt="Cofee Menu"></div>
                <h4>COFEE MENU</h4>
                <div class="cofee-menu-text">
                    <h1>Quality Kava Beans</h1>
                    <p>Repudiandae dignissimos fugiat sit nam. Tempore aspernatur quae reppudiandae dolorem, beatae
                        dolorum,
                        praesentium itaque et quam queat.</p>
                    <button class="btn">VIEW MENU</button>
                </div>
            </div>
        </div>

        <div class="our-team">
            <div class="ourr-team">
                <div class="image-our-team"><img src="#" alt="Our Team"></div>
                <h4>OUR TEAM</h4>
                <div class="our-team-text">
                    <h1>Use the Tips & Recipes of Our Barista</h1>
                    <p>Repuduiandee dignissimos fugiat sit nam. Tempore aspernatur quae repudiandae dolorum, beatae
                        dolorum, praesentium itaque et quam quaeat.</p>
                    <button class="btn">MEET THE TEAM</button>
                </div>
            </div>
        </div>

        <div class="Featurs">
            <h4>FEATURES</h4>
            <h2>Why people choose us?</ha2>
                <p>Porro evenit, autem ipsam vitae consequatur!</p>
        </div>

        <div class="logos">
            <div class="menu-logo">
                <img src="#" alt="menu logo">
                <h5>Menu for every teste</h5>
                <p>Dolor sit amet, consectetur adipisicing elit et molestias possimus</p>
            </div>

            <div class="menu-logo">
                <img src="#" alt="Quality Coffee">
                <h5>Always Quality Beans</h5>
                <p>Assumenda possimus waque illo iste, autem. Porro eveniet autem</p>
            </div>

            <div class="Experienced-logo">
                <img src="#" alt="Expert Baristas">
                <h5>Experienced Barista</h5>
                <p>Rolorem, beatae dolorum, praesentium itaque et quam quaerat</p>
            </div>
        </div>

        <div class="working-hours">
            <h4>RESERVATION</h4>
            <h2>WORKING HOURS</h2>
            <p>Rolorem, beatae dolorum, praesentium itaque et quam quaeat.</p>
            <div class="button">
                <a href="#">BOOK A TABLE</a>
                <a href="#">CONTACT US</a>
            </div>
            <div class="working-day">
                <p>SUNDAY TO TUESDAY</p>
                <p>09 : 00</p>
                <p>22 : 00</p>
                <p>FRIDAY TO SATURDAY</p>
                <p>11 : 00</p>
                <p>19 : 00</p>
            </div>
        </div>

        <div class="Testimonials">
            <h4>TESTIMONIALS</h4>
            <h2>What Our Visitors Say</h2>
            <p>Porro eveniet, autem ispsam corrupti consectetur cum. Repudiandae dignissimos fugiat sit nam.</p>
        </div>



    </section>

</body>

</html>